
@model T_SerYearlyPriceView

<div class="netcaretable">
    <div class="columns  columns-right btn-group pull-left bottombtn" style=" " id="tbar1">
        <button class="btn btn-default" type="button" title="增加" id="add" style="display:none" onclick="if($('#SerYearlyPriceId').val()==0){ msg.info('请先保存主数据！');return false;};msg.loadBtn('service/BumdPriceManage/Edit?type=1','新增');">
            <i class="fa fa-plus"></i>&nbsp;增加
        </button>
        <button class="btn btn-default" type="button" title="导入" id="import" style="display:none" onclick="if ($('#SerYearlyPriceId').val() == 0) { msg.info('请先保存主数据！'); return false; }; msg.loadBtn('admin/SysAttachment/Index?type=1', '新增', 700, 450);">
            <i class="fa fa-file-excel-o"></i>&nbsp;导入
        </button>
        <button class="btn btn-default" type="button" title="下载" id="export" onclick="location.href='@(Url.Content("~/Images/BUMD/年度配件价格清单.xlsx"))' ">
            <i class="fa fa-download"></i>&nbsp;下载
        </button>
        <button class="btn btn-default" type="button" title="删除" id="delete" style="display:none" onclick="DeletePro('productinfo1','tbar1');">
            <i class="fa fa-minus"></i>&nbsp;删除
        </button>
    </div>
    <table id="productinfo1"></table>
</div>

<script>
    var productColumns1 = [
{
    checkbox: true
}, {
    title: '序号',
    align: 'center',
    width: 50,
    formatter: function (value, row, index) {
        return m_pagerow + index + 1;
    }
}, {
    field: 'BU',
    title: 'BU',
    visible: true,
    align: 'center'
}, {
    field: 'ProductCode',
    title: '产品编码',
    visible: true,
    align: 'center'
}, {
    field: 'ProductName',
    title: '产品名称',
    align: 'center',
    width: 350,
    formatter: function (value, row, index) {

        return '<span style="text-decoration: underline;cursor: pointer;" onclick="openLayer(\'service/BumdPriceManage/Edit/' + row.SerYearlyPriceListId + '?type=1\',\'更新\',\'\',\'\',' + jsonObj._Status + ');">' + value + '</span>';
    }
}, {
    field: 'WholesalerPrice',
    title: '经销商价格',
    align: 'center',
    formatter: function (value, row, index) {
        return _numberDelimiter.getNumberDelimiterResult((value).toFixed(2)) + "元";
    }
}, {
    field: 'CustomerPrice',
    title: '终端客户价格',
    align: 'center',
    hidden: true,
    formatter: function (value, row, index) {
        return _numberDelimiter.getNumberDelimiterResult((value).toFixed(2)) + "元";
    }

}, {
    field: 'EffectiveStart',
    title: '有效期起',
    align: 'center'
}, {
    field: 'EffectiveEnd',
    title: '有效期止',
    align: 'center'
}, {
    field: 'Remark',
    title: '备注',
    align: 'center'
}
    ];


    var dbQueryParamsPro1 = function (params) {
        var temp = {};
        temp["PageSize"] = params.limit;
        temp["PageIndex"] = params.offset;
        temp["SerYearlyPriceId"] = $("#SerYearlyPriceId").val();
        temp["TableType"] = 1;
        return temp;
    };

    function loadProduct1(fun) {
        var actionUrl = path + 'service/BumdPriceManage/DetailList';
        InitTable($("#productinfo1"), actionUrl, dbQueryParamsPro1, productColumns1, "", "", "tbar1",function(e){
            $("#ba1").html(e.total);
            if(fun){
                fun();
            }
		});
    }
</script>