
<section class="content-header">
    <h2 class="h2h">年度价格</h2>
    <ol class="breadcrumb"><li><a>E-Price</a></li><li class="active">年度价格</li></ol>
</section>
@Html.Partial("_Search", new T_SerYearlyPriceView())
<div class="box-body" style="padding: 0 10px;">
    <div class="netcaretable">
        <div class="columns  columns-right btn-group pull-left bottombtn" style="" id="toolbarbut">
            <button class="btn btn-default" type="button" id="add" title="增加" onclick="msg.load('service/BumdPriceManage/Detail','年度价格-创建中','100%','100%',refresh);" >
                <i class="fa fa-plus"></i>&nbsp;增加
            </button>
            <button class="btn btn-default" type="button" id="delete" title="删除" onclick="Delete('bootstrap-table');" >
                <i class="fa fa-minus"></i>&nbsp;删除
            </button>
        </div>
        <table id="bootstrap-table"></table>
    </div>
</div>
<script>
    $(function () {

        if (isData(com_request("edit"))) {
            $("#add").show();
            $("#delete").show();
        }
        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                $("#btn_query").click();
            }
        });
    })
    var actionUrl = path + 'service/BumdPriceManage/List';
    var tbColumns = [
    {
        checkbox: true,
        formatter: function (value, row, index) {
            if (row._Status != 8011)
                return { disabled: true };

        }
    }, {
        title: '序号',
        align: 'center',
        width: 50,
        formatter: function (value, row, index) {
            return m_pagerow + index + 1;
        }
    }, {
        field: 'ApplyNo',
        title: '申请单',
        visible: true,
        formatter: function (value, row, index) {
            var name = "年度价格-" + getSubTitle(row._Status)
            return '<span style="text-decoration: underline;cursor: pointer;" onclick="msg.load(\'service/BumdPriceManage/Detail/' + row.SerYearlyPriceId + '\',\'' + name + '\',\'100%\',\'100%\',refresh);">' + value + '</span>';
        }
    }, {
        field: 'UserName',
        title: '申请人',
        align: 'center',
    }, {
        field: 'CreateTime',
        title: '申请时间',
        align: 'center'
    }, {
        field: 'StatusName',
        title: '状态',
        align: 'center'
    }, {
        field: 'DearUser',
        title: '处理人',
        align: 'center'
    }, {
        field: 'Remark',
        title: '申请备注',
        align: 'center'
    }
    ];
    //初始化表格
    InitTable($("#bootstrap-table"), actionUrl, dbQueryParams, tbColumns, "", "CusStatusName", "toolbarbut");
    $("#btn_query").click(function () { refresh(); });
    function refresh() {
        m_pagerow = 0;
        $("#bootstrap-table").bootstrapTable('refresh', { url: actionUrl });
    }
    function Delete() {
        var arrselections = $("#bootstrap-table").bootstrapTable('getSelections');
        var ids = Enumerable.From(arrselections).Select("c=>c.SerYearlyPriceId").ToArray()
        msg.confirm('确认删除', function () {
            ajax.post('service/BumdPriceManage/Delete/', { ids: ids }, function () {
                $("button[name='refresh']").click();
                layer.closeAll()
            })
        });
    }
    function refresh() {
        $("button[name='refresh']").click();
    }
</script>
